@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center home">
        <div class="frame">
            <img class="welcomeImg" src="../images/home-logo.png" />
        </div>
    </div>
