@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center welcome-content">
    <img class="welcome-img" src="../images/home-logo.png" />
    <div class="caption">
        <span class="scroll-down">SCROLL DOWN</span>
    </div>
</div>