/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.debug {
    border: solid red;
}

nav {
    z-index: 2;
    margin: 0;
}

.bg-dark {
    background-color: black !important;
}

.border-bottom {
    border-bottom: 1px solid #000 !important;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url("../images/background.jpg");
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  background-color: white;
}

.welcome-img {
    width: 80%;
    margin-top: 5%;
}

.border {
    background-color: rgba(255, 90, 65, 0.75);
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    border: none !important;
}

.caption {
    margin-top: 3%;
    width: 100%;
    text-align: center;
    color: #000;
}

.list-img {
    height: 100px;
    cursor: pointer;
}

.modal-dialog {
    max-width: 50%;
}

.modal-content {
    padding: 5px;
}

.custom-file-label {
    margin-top: 32px;
    overflow: hidden;
}

.custom-file-input {
    margin: 60px 0 0 -50px;
}

#file-input {
    margin-bottom: 50px;
}

.modal-title {
    text-align: center;
    color: #fff;
    background: #bbb;
    padding: 25px 25px 25px 25px;
    margin: -5px -5px -17px -5px;
    -webkit-border-top-left-radius: .3rem;
    -webkit-border-top-right-radius: .3rem;
}

.center {
    text-align: center;
}

.details-img {
    height: 150px;
}

.details-row {
    margin: 0 20px 0 20px;
}

.details-row > div {
    margin-bottom: 5px;
}

.details-row > div > div {
    display: inline-block;
    vertical-align: top;
}

.details-row > div > div:first-child {
    font-weight: 500;
    width: 15%;
}

.details-row > div > div:nth-child(2n) {
    width: 84%;
}

.details-event-btns {
    margin: 15px 0 15px 19px;
}

.aux-btns {
    margin: 5px;
}